{
	http_port 8000
	https_port 4430
}

(headers) {
	header {
		X-Clacks-Overhead "GNU Terry Pratchett"

		# policy from Element
		Content-Security-Policy "frame-ancestors 'self'"

		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# clickjacking protection
		X-Frame-Options DENY

		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
}

localhost {
	import headers
	root homepage/out
	file_server
}

# localhost {
# 	import headers
# 	root element/out
# 	file_server
# }
