{
	log {
		format console
		level ERROR
	}

	admin off
}

(default) {
	header {
		X-Clacks-Overhead "GNU Terry Pratchett"

		# policy from Element
		Content-Security-Policy "frame-ancestors 'self'"

		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# clickjacking protection
		X-Frame-Options DENY

		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade1
	}

	handle_errors {
		rewrite * /{err.status_code}
		reverse_proxy https://http.cat {
			header_up Host {upstream_hostport}
			replace_status {err.status_code}
		}
	}

	log {
		format console
		level ERROR
	}
}

:9090 {
	bind 0.0.0.0
	metrics /metrics
}

eleonora.gay {
	import default
	root * /srv/homepage
	file_server
}

www.eleonora.gay {
	redir https://eleonora.gay
}

element.eleonora.gay {
	import default
	root * /srv/element
	file_server
}

bags.eleonora.gay {
	import default
	root * /srv/bags
	file_server browse
}

searx.eleonora.gay {
	import default
	reverse_proxy searxng:8080 {
		header_up X-Real-Ip {http.request.remote.host}
		header_up X-Forwarded-Port {http.request.port}
	}
}

matrix.eleonora.gay {
	import default
	route {
		reverse_proxy /_matrix/* synapse:8008
		reverse_proxy /_synapse/client/* synapse:8008

		redir https://element.eleonora.gay
	}
}

# matrix federation
eleonora.gay:8448 {
	import default
	reverse_proxy /_matrix/* synapse:8008
}

wbo.eleonora.gay {
	import default
	reverse_proxy wbo:8080
}

ntfy.eleonora.gay {
	import default
	reverse_proxy ntfy:8080
}

img.eleonora.gay {
	import default
	reverse_proxy pigallery2:8080
}

vpn.eleonora.gay {
	import default
	reverse_proxy headscale:8080
}

avh.eleonora.gay {
	import default
	reverse_proxy avh:8080
}
