:root {
	--color-0:  #282828; /* black */
	--color-1:  #CC241D; /* red */
	--color-2:  #98971A; /* green */
	--color-3:  #D79921; /* yellow */
	--color-4:  #458588; /* blue */
	--color-5:  #B16286; /* purple */
	--color-6:  #689D6A; /* mint */
	--color-7:  #A89984; /* gray */
	--color-8:  #928374; /* light gray */
	--color-9:  #FB4934; /* light red */
	--color-10: #B8BB26; /* light green */
	--color-11: #FABD2F; /* light yellow */
	--color-12: #83A598; /* light blue */
	--color-13: #D3869B; /* light purple */
	--color-14: #8EC07C; /* light mint */
	--color-15: #EBDBB2; /* white */
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/* default foreground */

.black {
	color: var(--color-0);
}

.red {
	color: var(--color-1);
}

.green {
	color: var(--color-2);
}

.yellow {
	color: var(--color-3);
}

.blue {
	color: var(--color-4);
}

.purple {
	color: var(--color-5);
}

.cyan {
	color: var(--color-6);
}

.white {
	color: var(--color-7);
}

/* highlighted foreground */

.highlighted.black {
	color: var(--color-8);
}

.highlighted.red {
	color: var(--color-9);
}

.highlighted.green {
	color: var(--color-10);
}

.highlighted.yellow {
	color: var(--color-11);
}

.highlighted.blue {
	color: var(--color-12);
}

.highlighted.purple {
	color: var(--color-13);
}

.highlighted.cyan {
	color: var(--color-14);
}

.highlighted.white {
	color: var(--color-15);
}

/* default background */

.bg-black {
	background-color: var(--color-0);
}

.bg-red {
	background-color: var(--color-1);
}

.bg-green {
	background-color: var(--color-2);
}

.bg-yellow {
	background-color: var(--color-3);
}

.bg-blue {
	background-color: var(--color-4);
}

.bg-purple {
	background-color: var(--color-5);
}

.bg-cyan {
	background-color: var(--color-6);
}

.bg-white {
	background-color: var(--color-7);
}

/* highlighted background */

.highlighted.bg-black {
	background-color: var(--color-8);
}

.highlighted.bg-red {
	background-color: var(--color-9);
}

.highlighted.bg-green {
	background-color: var(--color-10);
}

.highlighted.bg-yellow {
	background-color: var(--color-11);
}

.highlighted.bg-blue {
	background-color: var(--color-12);
}

.highlighted.bg-purple {
	background-color: var(--color-13);
}

.highlighted.bg-cyan {
	background-color: var(--color-14);
}

.highlighted.bg-white {
	background-color: var(--color-15);
}
